.projects{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:700;
    font-size:34px;
    
}

.years{
     background-color:#ff5823 ;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color:#fff;
}

.calculator{
    font-weight:bolder;
    color:#ff5823;
    font-size:25px;
}

.title{
    font-weight: bold;
    font-size:18px;
}

.link{
    background-color:#ff5823 ;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color:#fff;
}

.line{
    color:#fff;
}